<section>
	<h2 class="content_title">
		About Me
	</h2>
	<div class="content_paragraph">
		<p class="content_paragraph">
		My name is Michael Townsend and I live in monroe ny.  If there were a town so close to NYC and yet so culturally far away from NYC, well this would be it.  From blue coller construction works to high energy contractors, this is the place where dreams go to die.  At the same time, these dead dreams recieve quite a nice pay check.  Is it all bad?  Well its life what are you going to do about it.
		</p>
	</div>
</section>